@import url(./normalize.css);

@font-face {
  font-family: "butlerbold";
  src: url("/css/fonts/butler/butler_bold-webfont.woff2") format("woff2"),
    url("/css/fonts/butler/butler_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Color Palette */
:root {
  --color-primary: hsl(256, 26%, 20%);
  --color-primarytwo: hsl(216, 30%, 68%);
  --color-neutral: hsl(270, 9%, 17%);
  --color-neutraltwo: hsl(273, 4%, 51%);
  --color-white: hsl(0, 0%, 98%);
}

/* Typography */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
}

/* Collapsible */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Icon Images */
.icon--standard {
  width: 8rem;
  height: 8rem;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}
/* brand */
.brand {
  padding: 3rem 2rem 3rem 2rem;
}
/* Navigation */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__object {
  padding: 2rem;
}

.nav__list {
  background: var(--color-neutral);
  width: 100%;
  margin: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.25rem;
}

.nav__item {
  display: inline-block;
  align-items: center;
  width: 25rem;
  padding: 1.5rem;
  margin: 0.5rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
}

.nav__item:hover {
  border: 1px solid var(--color-white);
  padding: 1.5rem - 1px;
  margin: 0.5rem - 1px;
}

.nav__item > a {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
}

.nav__img {
  margin-top: 4rem;
  stroke: #96a9c6;
}

@media screen and (min-width: 756px) {
  .nav {
    flex-wrap: nowrap;
    flex-direction: space-between;
  }

  .nav__object {
    display: none;
  }
  .nav__img {
    width: 0;
    height: 0;
  }
  .nav__list {
    max-height: 100vh;
    background: #fff;
    opacity: 1;
    display: flex;
    width: auto;
    flex-direction: row;
    margin: 0 5rem 0 5rem;
  }

  .nav__item {
    padding: 1rem;
    vertical-align: center;
    max-width: 20rem;
  }

  .nav__item:hover {
    border: 1px solid var(--color-neutraltwo);
    background: var(--color-neutral);
    color: var(--color-white);
  }

  .nav__item:hover > a {
    color: var(--color-white);
  }

  .nav__item > a {
    color: var(--color-neutral);
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }
}

/* main points */

.main-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
}

.main-point__title {
  color: var(--color-primary);
  text-align: center;
}

.main-point__content {
  color: var(--color-neutraltwo);
  text-align: center;
  margin: 0;
}

/* buttons */
.btn {
  background: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  font-size: 1.4rem;
  font-family: "Karla", sans-serif;
  padding: 1rem 3rem 1rem 3rem;
  letter-spacing: 1px;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

/* banner */
.banner {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  min-height: 400px;
}

.banner__title {
  color: var(--color-white);
  text-align: center;
  margin: 2rem 3rem 2rem 3rem;
}
.banner__content {
  color: var(--color-white);
  text-align: center;
  margin: 0 3rem 3rem 3rem;
}

/* socialmedia */
.social-media {
  /* display: flex; */
  flex-direction: column;
}

.social-media__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 180px;
  margin-bottom: 3rem;
}

/* footer */

.footer {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  min-height: 400px;
}
