<section class="footer">
  <section class="footer__header">
    <img class="brand" src="/images/logo.svg" alt="" />
    <div class="social-media__links">
      <img src="/images/icon-facebook.svg" alt="" />
      <img src="/images/icon-twitter.svg" alt="" />
      <img src="/images/icon-pinterest.svg" alt="" />
      <img src="/images/icon-instagram.svg" alt="" />
    </div>
  </section>
  <div class="footer__line"></div>
  <section class="footer__body">
    <ul class="list">
      <li class="list__header">OUR COMPANY</li>
      <li class="list__item"><a href="#">HOW WE WORK</a></li>
      <li class="list__item"><a href="#">WHY INSURE?</a></li>
      <li class="list__item"><a href="#">CHECK PRICE</a></li>
      <li class="list__item"><a href="#">REVIEWS</a></li>
    </ul>
    <ul class="list">
      <li class="list__header">HELP ME</li>
      <li class="list__item"><a href="#">FAQ</a></li>
      <li class="list__item"><a href="#">TERMS OF USE</a></li>
      <li class="list__item"><a href="#">PRIVACY POLICY</a></li>
      <li class="list__item"><a href="#">COOKIES</a></li>
    </ul>
    <ul class="list">
      <li class="list__header">CONTACT</li>
      <li class="list__item"><a href="#">SALES</a></li>
      <li class="list__item"><a href="#">SUPPORT</a></li>
      <li class="list__item"><a href="#">LIVE CHAT</a></li>
    </ul>
    <ul class="list">
      <li class="list__header">OTHERS</li>
      <li class="list__item"><a href="#">CAREERS</a></li>
      <li class="list__item"><a href="#">PRESS</a></li>
      <li class="list__item"><a href="#">LICENSES</a></li>
    </ul>
  </section>
</section>
